
.expenses-data-table-over {
    position: relative;
    overflow: hidden;
}
.expenses-data-table-inner {
    overflow-x: scroll;
    overflow-y: hidden;
    width: calc(100% - 455px);
    margin-left: 455px;
}

#expenses-data-table {

}
#expenses-data-table * {
    font-size: 12px;
}
#expenses-data-table thead tr td {
    padding: 8px 3px;
}


#expenses-data-table tr td:nth-child(1),#expenses-data-table tr th:nth-child(1) {
    position: absolute;
    left: 0;
    width: 34px;
}
#expenses-data-table tr td:nth-child(2),#expenses-data-table tr th:nth-child(2) {
    position: absolute;
    left: 34px;
    width: 34px;
}
#expenses-data-table tr td:nth-child(3),#expenses-data-table tr th:nth-child(3) {
    position: absolute;
    left: 68px;
    width: 62px;
}
#expenses-data-table tr td:nth-child(4),#expenses-data-table tr th:nth-child(4) {
    position: absolute;
    left: 130px;
    width: 125px;
}
#expenses-data-table tr td:nth-child(5),#expenses-data-table tr th:nth-child(5) {
    position: absolute;
    left: 255px;
    width: 100px;
}
#expenses-data-table tr td:nth-child(6),#expenses-data-table tr th:nth-child(6) {
    position: absolute;
    left: 355px;
    width: 100px;
}

#expenses-data-table thead tr:nth-child(1) td {}
#expenses-data-table thead tr:nth-child(1) th:nth-child(1) {
    border-top: 1px solid #DDDDDD;
    margin-top: -1px;
}
#expenses-data-table thead tr:nth-child(1) th:nth-child(2) {
    border-top: 1px solid #DDDDDD;
    margin-top: -1px;
}
#expenses-data-table thead tr:nth-child(1) th:nth-child(3) {
    border-top: 1px solid #DDDDDD;
    margin-top: -1px;
}
#expenses-data-table thead tr:nth-child(1) th:nth-child(4) {
    border-top: 1px solid #DDDDDD;
    margin-top: -1px;
}
#expenses-data-table thead tr:nth-child(1) th:nth-child(5) {
    border-top: 1px solid #DDDDDD;
    margin-top: -1px;
}
#expenses-data-table thead tr:nth-child(1) th:nth-child(6) {
    border-top: 1px solid #DDDDDD;
    margin-top: -1px;
}



#expenses-data-table .form-control, #expenses-data-table .sw-element {
    padding: 3px 6px;
    height: 30px;
}
#expenses-data-table .sw-element .sw-delete {
    position: absolute;
    margin-top: 8px;
    margin-right: 4px;
}
